body,
html,
main,
figure,
section,
a,
img,
div,
p,
h1 {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
}
*{
    font-family: "Vietnam";
}
@font-face {
    font-family: 'Fredoka';
    src: url('fonts/FredokaOne-Regular.ttf');
}
@font-face {
    font-family: 'Vietnam';
    src: url('fonts/BeVietnamPro-ExtraLight.ttf');
}
@font-face{
    font-family: "fjalla"; src: url("./fonts/FjallaOne-Regular.ttf")
}

body{
    background-color: #2d2f3b;
}
input[type="checkbox"]{
    display:none;
    margin-top: 20px;   
}

input[type="checkbox"]:checked ~ nav{
    transform: translateX(300px);
}

input[type="checkbox"]:checked ~ label>img{
    transform: translateX(250px);

}

label>img{
  width: 40px;  
  position: absolute;
  z-index: 1;
  transition: all 0.5s;
  margin-top: 25px;
  margin-left: 0px;
}

nav{
    background-color: rgb(31, 31, 31);
    width:300px;  
    height: 100%; 
    position: absolute;  
    left: -300px;
    transition: all 0.5s;
}

nav>ul{
    position: relative;
    top:70px ;
    list-style: none;
    
}

nav>ul>li>a{
    display: block;
    padding:10 20;
    color:#FFF;
    text-decoration: none;
    font-family: sans-serif;
    margin-bottom: 15px;
}

nav>ul>li>a:hover{
    background-color: rgb(18, 18, 18);
    color:#8224AE;
}
.logo{
    width:200px;
    height: 100px;
    margin-left: 15px;
    margin-top: 10px;
}
.img-logo{
    width:100%
}
.linha{
    width: 100%;
    height: 1px;
    background-color: #8B8B8B;
    margin-top: 250px;
}
.account{
    display: flex;
}
.perfil{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 25px;
}
.account span{
    color: #FFF;
    margin-top: 30px;
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 16px;
}
.header{
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 1.5px solid #3a3c4b;
}
.logo-principal{
    width: 12.5%;
    margin-top: 5px;
    margin-left: 50px;
}
.img-principal{
    width:100%;
}
.lado-direito{
    float: right;
    width: 83%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
} 
.conteudo-header{
    margin-right: 20px;
    display: flex;
    column-gap: 50px;
    font-family: sans-serif;
}
.search{
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #3b3e4f;
}
.link{
    text-decoration: none;
    color: #8224AE;
    font-weight: bold;
}
h2{
    margin-top: 100px;
    color: #8224AE  ;
    align-self: center;
    margin-left: 41.5%;
}
main{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.box-comunidades{
    display: flex;
    width: 95%;
    align-self: center;
    height: 130px;
    margin-left: 2.5%;
    margin-top: 60px;
    column-gap: 30px;
}
.comunidades{
    border: 2px solid #404352;
    width: 23.75%;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}
.icone-comunidade{
    width: 120px;
    margin-top: -60px;
}
.icone-comunidade1{
    width: 120px;
    margin-top: -60px;
}
.comunidade-name{
    color: #8224AE;
    display: block;
    font-size: 20px;
}
h3{
    color: #8C8C8C;
    font-size: 18px;
    margin-left: 2.5%;
    margin-top: 100px;
}
.box-novidades{
    display: flex;  
    width: 95%;
    margin-left: 2.5%;
    column-gap: 30px;
    justify-content: space-between;
    margin-bottom: 100px;
}
.novidade{
    background-color: #353845;
    width: 30%;
    height: 350px;
    border-radius: 10px;
}
.img-novidade{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.novidade span{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    width: 90%;
    text-align: justify;
    margin-left: 5%;
    margin-top: 10px;
    color: #787878
}
.titulo-novidade{
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
    width: 90%;
    text-align: justify;
    margin-left: 5%;
    margin-top: 5px;
    color: white;
}
.rodape{
    background-color: #1f1f29;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.info-rodape{
    width:20%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.logo-rodape{
    width: 70%;
    margin-left: 10%;
}
.link-rodape{
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #8d8d8d;
    justify-content: center;
    align-items: center;
}
i{
    margin-right: 10px;
}
/* Início do parallax */

.parallax{
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img01{
    background-image: url(img/img01-parallax.jpg);
    opacity: 0.5;
}
#img02{
    background-image: url(img/img02222-parallax.jpg);
    opacity: 0.5;
}
#img03{
    background-image: url(img/img03333-parallax.jpg);
    opacity: 0.5;
}
#img04{
    background-image: url(img/img03-parallax.jpg);
    opacity: 0.5;
}
.text-parallax{
    width: 100%;
    height: 150px;
    background-color: #404352;
    display: flex;
    justify-content: center;
    align-items:center;
}
.text-parallax p{
    color: white;
    font-size: 20px;
    text-align: justify;
    padding: 50px;
}
.text-parallax span{
    font-size: 30px;
    color: white;
}
#img{
    background-color: #2d2f3b;
    /* opacity: 0.5; */
}
.parallax01{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parallax01 span{
    width: 28%;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: white;
    font-family: "fjalla";
}
.text-parallax01{
    width: 100%;
    height: 150px;
    background-color: #1f1f29;
    display: flex;
    justify-content: center;
    align-items:center;
}
.text-parallax01 span{
    font-size: 30px;
    color: #8224AE;
}
#spanWelcome{
    width: 30%;
    height: 43px;
    border: 2px solid #8824b7;
    font-family: "fjalla";
}
a{
    color: #8224AE;
}